<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  </p>
  {{#if logged_in}}
<button class="btn btn-primary" id="delBtn">Delete Blog</button>
  {{/if}}
  </div>



